<div id="main-menu">
  <ul>
    <li><a href = "/dashboard">Dashboard</a></li>
    <li><a href = "/torrents">Torrents</a></li>
    <li><a href = "/sources">Sources</a></li>
    <li><a href = "/settings">Transmission</a></li>
  </ul>
</div>